* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    background-color: #22A2F2 !important;
}

body {
    margin: 0;
    background-color: #22A2F2 !important;
}


/* ------------------------------------------------------ NAV ------------------------------------------------------------ */

header {
    background-color: #22A2F2;
    z-index: 2;
    height: 100%;
    width: 100%;
}

#navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

#titol-pagina a {
    font-size: 40px;
    color: white;
    text-decoration: none;
}

#botons a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#botons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#botons li {
    display: inline-block;
    margin-left: 10px;
}

#botons {
    margin-left: auto;
}

#titol {
    margin-top: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

#paraula1 {
    font-size: 75px;
    display: inline-flex;
    z-index: 2;
    color:rgb(255, 255, 255);
}

#paraula2 {
    font-size: 75px;
    display: inline-flex;
    z-index: 2;
    color:rgb(255, 255, 255);
}

#p1{
    color: black;
}

#p2{
    color: black;
}

#requadre {
    left: 570px;
    position: absolute;
    height: 100%;
    width: 220px;
    background-color: #F2CF1D;
    z-index: 1;
}

#boto-benvinguda {
    margin-top: 215px;
    margin-bottom: 85px;
    font-size: 28px;
    padding: 20px 40px;
    background-color: #F2CF1D;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
}

/* ------------------------------------------------------ QUI SOC? ------------------------------------------------------------ */

.qui-soc{
    top: 500px;
    width: 100%;
    display: flex;
    height: 100%;
}

#fons-qui-soc{
    background-color: #38baee;
    position: absolute;
    top: 200px;
    height: 470px;
    width: 100%;
    z-index: 1;
}

#foto{
    width: 50%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#foto-marge{
    background-color: #F2CF1D;
    width: 500px;
    height: 650px;
    z-index: 2;
}

#fotografia{
    align-items: center;
    z-index: 2;
    margin: 10px;
}

#text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    top: 50%;
    color: white;
    text-align: center;
    margin: 10px;
    z-index: 2;
}

#titoltext{
    text-align: center;
    z-index: 2;
}

#text-sobre-mi{
    justify-content: center;
    text-align: center;
    background-color: #F2CF1D;
    height: 350px;
    width: 800px;
    z-index: 2;
    align-items: center;
    padding: 10px;
}

/* ------------------------------------------------------ PROJECTES ------------------------------------------------------------ */

.projectes{
    margin-top: 150px;
}

.projectes-graella{
    display: block;
}

#titol-projectes{
    text-align: center;
    color: white;
    margin-top: 50px;
    width: 50%;
    float: right;
    background-color: #22A2F2;
}

#text-projecte2{
    float: right;
    width: 100%;
    text-align: center;
}

#projecte1{
    height: 200px;
    width: 33%;
    display: inline-flex;
    background-color: #22A2F2;
    padding: 20px;
    color: white;
}

#fons-projecte{
    background-color: #1B96B0;
    height: 150px;
}

#text-projecte1{
    float: right;
    width: 100%;
    text-align: center;
}

#projecte2{
    height: 200px;
    width: 33%;
    display: inline-flex;
    background-color: #22A2F2;
    padding: 20px;
    color: white;
}


#projecte3{
    height: 200px;
    width: 33%;
    display: inline-flex;
    background-color: #22A2F2;
    padding: 20px;
    color: white;
}

#text-projecte3{
    float: right;
    width: 100%;
    text-align: center;
}