* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    background-color: #000000 !important;
}

body {
    margin: 0;
    background-color: #000000 !important;
}


/* ------------------------------------------------------ NAV ------------------------------------------------------------ */

#requadre-esquerra{
    left: 0;
    top: 0;
    height: 100%;
    width: 33%;
    background-color: rgb(255, 255, 255);
    position:fixed;
    z-index: 1;
}

header {
    background-color: #000000;
    z-index: 2;
    height: 100%;
    width: 100%;

}

#navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 2;
    position:relative;

}

#titol-pagina a {
    font-size: 40px;
    color: #000000;
    text-decoration: none;
}

#titol-pagina a:hover{
    font-size: 40px;
    transition: 0.5s;
    background-color: rgba(34, 104, 170, 0.329);
    border-radius: 15px;
    padding: 5px;
}

#botons a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#botons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#botons li {
    display: inline-block;
    margin-left: 10px;
}

#botons a:hover {
    font-size: 30px;
    transition: 0.5s;
    background-color: rgba(34, 104, 170, 0.329);
    border-radius: 15px;
    padding: 5px;
}

#botons {
    margin-left: auto;
}

#titol {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

#paraula1 {
    font-size: 75px;
    display: inline-flex;
    z-index: 2;
    color:rgb(255, 255, 255);
}

#paraula2 {
    font-size: 75px;
    display: inline-flex;
    z-index: 2;
    color:rgb(255, 255, 255);
}

#p1{
    color: #000000;
}

#p2{
    color: #000000;
}

#p3{
    color: #000000  ;
}

#requadre {
    left: 628px;
    position: absolute;
    height: 100%;
    width: 170px;
    top: 0;
    background-color: #00ffc8;
    z-index: 1;
    position: fixed;

}

#boto-benvinguda {
    font-size: 28px;
    padding: 20px 40px;
    background-color: #F2CF1D;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
}

/* ------------------------------------------------------ QUI SOC? ------------------------------------------------------------ */

.qui-soc{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 3;
}



#foto{
    z-index: 1;
    width: 40%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#paraula1-qui-soc {
    display: inline-flex;
    z-index: 2;
    color:rgb(255, 255, 255);
}

#paraula2-qui-soc  {
    display: inline-flex;
    z-index: 2;
    color:rgb(255, 255, 255);
}

#paraula3-qui-soc  {
    display: inline-flex;
    z-index: 2;
    color:rgb(255, 255, 255);
}


#foto-marge{
    background-color: #4bb0e2;
    width: 400px;
    height: 500px;
    z-index: 2;
}

#fotografia{
    align-items: center;
    z-index: 2;
    margin: 10px;
    z-index: 1;

}

#text{
    position: relative;
    height: 220px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    color: white;
    text-align: center;
    z-index: 2;
    top: 150px;
}

#titoltext{
    text-align: center;
    z-index: 2;
}

#text-sobre-mi{
    justify-content: center;
    text-align: center;
    height: 350px;
    width: 800px;
    z-index: 5;
    align-items: center;
    padding: 10px;
    top: 50px;
}

/* ------------------------------------------------------ PROJECTES ------------------------------------------------------------ */


.projectes{
    margin-top: 150px;
    z-index: 3;
    position: absolute;
    right: 0;
    width: 58%;

}
#titolacio{
    font-size:70px;
}

#titol-pagina-projectes{
    z-index: 1;
    
    width: 40%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    left: 250px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.projectes-graella{
    display: block;
}

#titol-projectes{
    text-align: center;
    color: white;
    margin-top: 50px;
    width: 50%;
    float: right;
    background-color: #22A2F2;
}



#fons-projecte{
    background-color: #ffffff;
    height: 150px;
}

#projecte{
    height: 200px;
    width: 49%;
    display: inline-flex;
    padding: 20px;
    color: white;
    text-align: center;
}


@media (max-width: 768px) {
    #navegador {
        flex-direction: column;
        align-items: center;
    }
    #botons li {
        margin-left: 0;
        margin-top: 10px;
    }
    .qui-soc {
        flex-direction: column;
        align-items: center;
    }
    #foto, #text {
        width: 100%;
    }
}